* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f4f6f9;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #595959;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
}
@media screen and (min-width: 320px) {
  .wrapper  {
    width: 320px;
    background: #fff;
    
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  }
}
@media screen and (min-width: 768px) {
  .wrapper  {
    width: 725px;
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper  {
    width: 970px;
  }
}
.sidebar {
  background: #ebd0b7;
  width: 320px;
  padding-bottom: 40px;
}
.my-photo {
  width: 320px;
}

@media screen and (min-width: 320px) { 
  .about-me-container {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
    margin: 0 auto;
  }
}
.Contacts-conteiner {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}
.Contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}
.Contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
.Contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}
.Tech-Skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}
.Tech-Skills-conteiner {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}
.Tech-Skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #ff6b08;
}
.Tech-Skills-text {
  color: #ffffff;
}
.Soft-Skills-conteiner {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}
.Soft-Skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}
.Soft-Skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #ff6b08;
}
.Soft-Skills-text {
  color: #ffffff  ;
}
.profassion {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 25px;
}
.name {
  font-size: 45px;
  font-weight: 700;
}
.description {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}
.info-container {
  margin-bottom: 65px;
}
.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.projects-link {
  color: #ff6b08;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.number {
  color: #595959;
  padding-left: 20px;
}
.dots {
  color: #bebebe;
  font-weight: 100px;
}
.project-item {
  font-weight: 700;
  margin-left: 17;
}
.project-container {
  margin-bottom: 55px;
}
.profassion-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.profassion-company {
  font-size: 16px;
  font-weight: 700;
  display: block;
  color: #ff8c3f;
}
@media screen and (min-width: 1024px) {
  .profassion-company  {
    display: inline-block;
    margin-right: 10px;
  }
}

.profassion-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.profassion-divider {
  color: 595959;
}
.profassion-duties {
  margin-top: 14px;
  margin-bottom: 30px;
}
.profassion-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.university {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}
.education {
  padding-top: 55px;
  margin-bottom: 20px;
}
.education-major {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}
.education-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.Languages-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}
.Languages-list {
  color: #ffffff;
}
.Languages-list li {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #ff6b08;
  padding-bottom: 5px;
}

.Languages-item-text {
  color: #ffffff;
}
.Languages-title {
  font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    color: #ffffff;
}